data/standard_dataset/test/
data/standard_dataset/train/
data/standard_dataset/val/
data/dataset/test/
data/dataset/train/
data/dataset/val/
data/pokemon_cards/
results/
models_card_locator/models/
models_features/checkpoints/
scripts/tools/__pycache__/
